@model System.Collections.Generic.IEnumerable<CEPGP.Domain.Transaction>

@{
    ViewBag.Title = "Transactions";
}

<h2>Transactions</h2>

<p>Most recent transactions are at the top.</p>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Target</th>
        <th>Issued By</th>
        <th>Action</th>
        <th>EP Before</th>
        <th>EP After</th>
        <th>GP Before</th>
        <th>GP After</th>
        <th>Item</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var transaction in Model)
    {
        <tr>
            <td>
                @if (transaction.Target.ToLower() != "raid" || 
                    transaction.Target.ToLower() != "guild") {
                <a href="@Url.Action("Member", "Transactions", new {username = transaction.Target})">@transaction.Target</a>
                } else {
                    <span>@transaction.Target</span>
                }
            </td>
            <td>
                <a href="@Url.Action("Member", "Transactions", new {username = transaction.IssuedBy})">@transaction.IssuedBy</a>
            </td>
            <td>@transaction.Action</td>
            <td>@transaction.EPBefore.Value</td>
            <td>@transaction.EPAfter.Value</td>
            <td>@transaction.GPBefore.Value</td>
            <td>@transaction.GPAfter.Value</td>
            <td>
                @{
                    if (transaction.Item != null)
                    {
                        <a href="https://www.classic.wowhead.com/item=@transaction.Item.Id">View Item</a>
                    }
                }
            </td>
        </tr>
    }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            $('table').DataTable({
                "pageLength": 5000,
                "bSort": false
            });
        });
    </script>
}
