@model CEPGP.Domain.MemberList

@{
    ViewBag.Title = "Guild Standings";
}

<h2>Guild Standings</h2>

<p>Last Updated: @Model.LastUpdateDate.ToString("dd/MM/yyyy")</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>EP</th>
            <th>GP</th>
            <th>PR</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model)
        {
        <tr>
            <td>@Html.ActionLink(@transaction.Name, "Member", "Transactions", new { username = @transaction.Name }, null)</td>
            <td>@transaction.EP.Value</td>
            <td>@transaction.GP.Value</td>
            <td>@transaction.CalculatePR().Value.ToString("##.##")</td>
        </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            $('table').DataTable({
                "pageLength": 50,
                "order": [[ 3, "desc" ]]
            });
        });
    </script>
}
